<!-- inherits the code of the head block only -->

{% extends "base.html" %} {% block head %} {{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='extended_beauty.css' ) }}" /> 

{% endblock %}

{% block content %} 

<h1> Hello, Welcome </h1>
<center>
    <img src="{{ url_for('static', filename='images/pushup.png') }}" alt="Pushup man", height="200px">
</center>
<p> Welcome to the Workout Logger <br /> This Website implements basic CRUD functionality and user authentication </p>

{% endblock %}

